/* Define color variables */
:root {
    --main-bg-color: #f4f4f9; /* Soft light gray background */
    --accent-color: #6c63ff; /* Vibrant purple */
    --primary-text-color: #333333; /* Dark gray for primary text */
    --secondary-text-color: #555555; /* Medium gray for secondary text */
    --border-color: var(--accent-color); /* Set border color to accent color */
}

/* Global Styling */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(./immagini/portfoliobg.webp); /* Add your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--primary-text-color);
}

/* Section Styling */
.First-container, .Second-container, .Aboutme, .Contactme {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    margin: 0; /* Remove margin between sections */
    border-radius: 0; /* Remove rounded corners */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color); /* Set border color to accent color */
}

.First-container {
    background-image: url('./immagini/Wallpaper.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.First-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6); /* Slightly more opaque */
    z-index: 1;
}

.First-container .px-4 {
    position: relative;
    z-index: 2; /* Ensure text is above the background */
}

.Second-container {
    text-align: center;
}

.feature {
    display: inline-block;
    width: 100%; /* Maintain width for each column */
    text-align: center; /* Center content in the box */
}

/* Headings */
h1, h2, h3 {
    color: var(--accent-color);
}

/* Features Styling */
.feature {
    border: 1px solid var(--border-color); /* Set border color to accent color */
    border-radius: 0; /* Remove rounded corners */
    padding: 15px;
    transition: transform 0.2s, box-shadow 0.2s; /* Added box-shadow transition */
}

.feature:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

/* Link Styling */
.icon-link {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
}

.icon-link:hover {
    text-decoration: underline;
}

h3 svg {
    margin-right: 8px; /* Space between icon and text */
    vertical-align: middle; /* Vertical alignment */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .First-container, .Second-container, .Aboutme, .Contactme {
        padding: 15px;
    }
}

/* Initial state for fade-in elements */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Visible state for fade-in elements */
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}